/projeto2/nbproject/private/
/projeto2/build/
/JogoDaMemoria/nbproject/private/
/JogoDaMemoria/build/
/Login/nbproject/private/
/Login/build/
/Login/dist/
/CadastroClientes/JavaApplication7/build/
/CadastroClientes/JavaApplication7/nbproject/private/
